.knowledge {
    display: flex;
    border-radius: 12px;
    max-width: 60vw;
    min-height: 70vh;
    margin: 0 auto;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
    .skill:first-child {
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        border-right: 1px solid #e6ecf8;
    }
    .skill:last-child {
        border-top-right-radius: 12px;
        border-bottom-right-radius: 12px;
    }
}


@media screen and (max-width: 786px) {
    .knowledge {
        flex-direction: column;
        max-width: 90vw;
        gap: 40px;
        box-shadow: none;
        .skill {
            border-radius: 12px;
        }
    }
}