@use '../../styles/colors.scss';

.project__container {
    .project__navbar {
        background-color: colors.$primary-bg;
        height: 70px;
        min-height: max-content;
        padding: 0 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        img {
            cursor: pointer;
            height: 70%;
        }
    
        .project__navbar--links {
            display: flex;
            font-size: 24px;
            font-weight: 600;
            color: colors.$primary-font;
            gap: 24px;
            text-transform: lowercase;
            a, p {
                all: unset;
                position: relative;
                cursor: pointer;
                font-size: 18px;
                letter-spacing: 4px;
                gap: 24px;
                &::before {
                    content: "";
                    position: absolute;
                    bottom: -6px;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    background: linear-gradient(to left, transparent 51%, colors.$primary-accent 50%) right;
                    background-size: 200%;
                    transition: all 0.25s;
                }
    
                &:hover {
                    &::before {
                        background-position: left;
                    }
                }
            }
        }
    }
    .project__full {
        position: relative;
        min-height: 80vh;
        width: 100%;
        color: colors.$primary-font;
        display: flex;
        justify-content: space-between;
        gap: 40px;
        padding: 40px 100px;
        box-shadow: 0 20px 80px 0 rgb(0 0 0 / 45%);
 
        .project__full--left {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 3;
            h2 {
                font-size: 48px;
                position: relative;
                &:after {
                    position: absolute;
                    content: "";
                    width: 100%;
                    height: 4px;
                    background-color: colors.$primary-accent;
                    bottom: 0;
                    left: 0;
                }
            }
            .project__full--info, .project__full--shortinfo {
                font-size: 18px;
                line-height: 40px;
    
                padding: 20px 20px 20px 0;
                width: 180%;
                border-radius: 20px;
                background-color: colors.$primary-bg
            }
            .project__full--shortinfo {
                display: none
            }
            .project__image--mobile {
                display: none;
                width: 100%;
                height: 20%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: 50%;
                pointer-events: none;
            }
            .project__full--extra {
                margin-top: 20px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                p {
                    flex: 0 1 33.33%;
                    display: flex;
                    gap: 10px;
                }
                span {
                    min-width: 50px;
                    text-transform: uppercase;
                    color: colors.$primary-accent;
                }
            }
            .project__full--links {
                display: flex;
                gap: clamp(10px, 2vw, 24px);
                a {
                    all: unset;
                }
            }
        }

        .project__full--right {
            flex: 4;
            width: 50%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: 50%;
            pointer-events: none;
        }


    
    }
    .project__full--footer {
        height: 120px;
        background-color: colors.$primary-bg;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .project__footer--text {
            display: flex;
            width: 100%;
            justify-content: space-between;
            p {
                font-size: 18px;
            }

        }
        .project__full--nav {            
            display: flex;      
            align-items: center;      
            svg {
            
              width: 100px;
              height: auto;
              margin: 0 2rem;
              cursor: pointer;
              overflow: visible;
              
              polygon, path {
                fill: colors.$primary-accent;
              }
  
              &:hover {                
                  .arrow {
                    animation: arrow-anim 2.5s ease infinite;
                  }
                  .arrow-fixed {
                    animation: arrow-fixed-anim 2.5s ease infinite;
                  }
                }
            }          
        }
        .project__full--prev {
            svg {

                transform: rotate(180deg);
            }
        }
    }
}
@keyframes arrow-anim {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    5% {
        transform: translateX(-0.1rem);
    }
    100% {
        transform: translateX(1rem);
        opacity: 0;
    }
}

@keyframes arrow-fixed-anim {
    5% {
        opacity: 0;
    }
    20% {
        opacity: 0.4;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 936px) {
    .project__container {
        .project__full {
            padding: 20px;
            flex-direction: column;
            .project__full--left {
                .project__image--mobile {
                    display: block;
                }
                h2 {
                    text-align: center;
                    font-size: 34px;
                }
                .project__full--info {
                    display: none
                }
                
                .project__full--shortinfo {
                    line-height: 30px;
                    display: block;
                    width: 90vw;
                    font-size: 16px;
                }
    
                .project__full--links {
                    margin-bottom: auto;
                    justify-content: space-between;                
                    flex-wrap: wrap;
                    gap: 14px;
                }
            
            }
            .project__full--right {
                display: none;
            
            }
            .project__full--extra {
                flex-direction: column;
                p {
                    span {
                        min-width: 50px;
                    }
                    &:last-child {
                        justify-content: flex-start;
                    }
                }
            }
        }
        .project__full--footer {
            .project__footer--text {

                p {
                    font-size: 14px;
                }
                h2 {
                    font-size: 16px;
                }
            }
            .project__full--nav {
                svg {
                    width: 50px;
                }
            }
        }
    }
}

