@use '../../styles/colors';
@use '../../styles/variables';

.hero {
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    .hero--header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        h1 {
            font-size: 48px;
            text-align: center;
            color: white;
            background: linear-gradient(-45deg, #639e95, steelblue ,#639e95, steelblue);
            background: linear-gradient(-45deg, #639e95, steelblue ,#639e95, steelblue);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-size: 400% 400%;
            -webkit-animation: gradient 3s ease infinite;
            animation: gradient 3s ease infinite;
        }
        h1, h2 {
            margin: 0;
            flex: 1;
        }
    }
    .hero--content {
        display: flex;
        height: 400px;
        
        .hero--image, .hero--text {
            border-radius: 12px;
        }
        .hero--image {
            position: relative;
            width: 60%;
            overflow: hidden;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .hero--text  {
            background: colors.$content-light;
            backdrop-filter: blur(20px);
            padding: 40px;
            position: relative;
            left: -3rem;
            bottom: -3rem;
            z-index: 1;
            max-width: 30%;
            border: 1px solid colors.$content-light;
        }

    }
    .scroll-indicator  {
        z-index: 800;
        position: fixed;
        height: 100vh;
        top: 0;
        left: 10px;
    }
    .hero--links {
        z-index: 999;
        display: flex;
        position: fixed;
        bottom: 110px;
        left: 5px;
        height: fit-content;
        width: fit-content;
        padding: 10px;
        flex-direction: column;
        background-color: #4c797281;
        backdrop-filter: blur(20px);
        gap: 15px;
        a {
            transition: all 0.25s;
            &:hover {
                scale: 140%;
                svg {

                    color: white;
                }
                
            }
            svg {
                transition: all 0.25s;
                color: black;
                font-size: 28px;
            }
        }
        
    }
}

.dark .hero {
    .hero--header {
       h2 {
        background: linear-gradient(-45deg, rgb(166, 166, 201), rgb(214, 17, 214) ,rgb(200, 200, 211), rgb(245, 52, 245));
        background: linear-gradient(-45deg, rgb(210, 210, 224), rgb(211, 18, 211) ,rgb(60, 60, 223), rgb(255, 27, 255));
        background-clip: text;
        -webkit-background-clip: text;
        background-size: 400% 400%;
        -webkit-animation: gradient 3s ease infinite;
        animation: gradient 3s ease infinite;
       }
    }
    .hero--content {       
        .hero--text  {
            background: colors.$content-dark;
            border: 1px solid colors.$content-dark;
        }

    }
    .hero--links {
        a {
            filter: invert(100%) ;
            &:hover {
                filter: invert(40%) sepia() saturate(10000%) hue-rotate(200deg);

            }
        }
    }
}

@media screen and (max-width: 786px) {
    .hero {
        overflow: hidden;
        .hero--content {
            height: 400px;
            position: relative;
            width: 100vw;
            .hero--image, .hero--text {
                border-radius: 12px;
            }
            .hero--image {
                position: relative;
                transform: translateX(-30px) translateY(-40px);
                min-width: 90%;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 70%;
                    border-radius: 12px;
                    object-fit: cover;
                }
            }
            .hero--text  {
                transform: translateX(30px);
                position: absolute;
                background: colors.$content-light;
                backdrop-filter: blur(20px);
                padding: 40px;
                height: 80%;
                left: 3rem;
                bottom: -3rem;
                z-index: 1;
                overflow: hidden;
                max-width: 100%;
                border: 1px solid colors.$content-light;
            }
        }

        .scroll-indicator {
            display: none;
        }

        .hero--links {
            top: 0px;
            left: 0px;
            height: fit-content;
            width: 100%;
            padding: 10px;
            padding-left: 100px;
            flex-direction: row;
            background-color: rgba(70, 131, 180, 0.253);
            backdrop-filter: blur(20px);
            gap: 15px;
            &:before {
                content: '';
                position: absolute;
                top: 20px;
                left: 0px;
                width: 90px;
                height: 4px;
                background-color: black;
            }
        }
    }
}


@keyframes gradient {
    0% { background-position: left top;}
    50% { background-position: left bottom}
    50% { background-position: right top;}
}


