@use '../../styles/colors.scss';

.extra {
    margin-top: 40px;
    .title {
        text-align: center;
        max-width: 1000px;
        margin: 0 auto;
        position: relative;
        color: colors.$primary-font;
        &::before {
            position: absolute;
            content: "";
            width: 70%;
            height: 4px;
            background-color: colors.$primary-accent;
            bottom: -10px;
            left: 0;
        }
        &:after {
            position: absolute;
            content: "";
            width: 70%;
            height: 4px;
            background-color: colors.$primary-accent;
            top: 0;
            right: 0;
        }
        
        p {
            position: relative;
            text-transform: uppercase;
            text-align: center;
            font-size: 48px;
        }
        h2 {
            font-size: 24px;
            font-weight: 400;
        }
    }
    .experiments-container {
        position: relative;
        max-height: 350px;
        margin-top: 40px;
        display: flex;
        flex: 1;
        overflow: hidden;
        .extra-overlay {
            position: absolute;
            top: 0;
            left: 0;
            transition: all .5s;
            height: 100%;
            width: 100%;
            background-color: colors.$primary-accent;
            z-index: 100;
        }
        .mobile--overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 3s;
            height: 100%;
            width: 100%;
            background-color: colors.$primary-accent;
            z-index: 100;
        }

        .mobile-animation {
            transform: translateY(100%);
        }

    }
}

@media screen and (max-width: 786px) {
    .extra {
        .experiments-container {
            flex-direction: column;
            max-height: 100%;
            .extra-overlay {
                display: none;
            }
            .mobile--overlay {
                display: block;
            }
        }
    }
}