@use '../../styles/colors.scss';

.extra {
    margin-top: 40px;
    .title {
        text-align: center;
        p {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            font-family: monospace;
            margin-bottom: 20px;
            color: colors.$secondary-bg;
        }
        h2 {
            font-size: 28px;
        }
    }
    .experiments-container {
        position: relative;
        max-height: 350px;
        margin-top: 40px;
        display: flex;
        flex: 1;
        overflow: hidden;
        .extra-overlay {
            position: absolute;
            top: 0;
            left: 0;
            transition: all .5s;
            height: 100%;
            width: 100%;
            background-color: colors.$primary-accent;
            z-index: 100;
        }
        .mobile--overlay {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            transition: all 3s;
            height: 100%;
            width: 100%;
            background-color: colors.$primary-accent;
            z-index: 100;
        }

        .mobile-animation {
            transform: translateY(100%);
        }

    }
}

@media screen and (max-width: 786px) {
    .extra {
        .experiments-container {
            flex-direction: column;
            max-height: 100%;
            .extra-overlay {
                display: none;
            }
            .mobile--overlay {
                display: block;
            }
        }
    }
}