.extra {
    margin-top: 40px;
    .title {
        text-align: center;
        p {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            font-family: monospace;
            margin-bottom: 20px;
        }
        h2 {
            font-size: 28px;
        }
    }
    .experiments-container {
        height: min-content;
        margin-top: 40px;
        display: flex;
        flex: 1;
    }
}

@media screen and (max-width: 786px) {
    .extra {
        .experiments-container {
            flex-direction: column;
            max-height: 100%;
        }
    }
}