.portfolio {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .portfolio-title {
        text-transform: uppercase;
        text-align: center;
        font-size: 48px;
    }

}