$primary-bg: #191a19;
$secondary-bg: #4c7972;
$primary-accent: tomato;

$primary-font: rgb(228, 228, 228);
$secondary-font: rgb(22, 22, 22);
$primary-font-transparent: rgba(228, 228, 228, 0.8);
$primary-card-bg: #222728;
$secondary-card-bg: #d1d1d1;

// Hero 
$content-light: rgba(0, 0, 0, 0.1);

// Button
$button-bg-light: tomato;
