// Background
$primary-bg-light: linear-gradient(to right,rgba(245,245,245,.8),rgba(245,245,245,.8));
$primary-bg-dark: #111222;

// Typography
$primary-font-light: black;
$primary-font-dark: #fff;

// Hero 
$content-light: rgba(0, 0, 0, 0.1);
$content-dark: rgba(255, 255, 255, 0.1);

// Button
$button-bg-light: steelblue;
$button-bg-dark: #00A97F;