@use './styles//colors.scss';

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    overscroll-behavior: contain;
}

.App {
    overflow: hidden;
}

h1, h2, h3, h4, h5, p, span, a, svg {
    color: colors.$primary-font;
}